@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: black url("/res/img/1.jpg");
    font-family: 'Open Sans', sans-serif;
}

.tableDiv {
    background-image: linear-gradient(to bottom, #010101, #19191b, #2b2b2e, #3e3f42, #515358, #53565b, #55585d, #575b60, #494c50, #3b3e41, #2e3032, #222324);
    opacity: 0.95;
    border: 1px solid white;
    float: left;
    width: 85%;
    height: 100%;
    overflow: auto;


}

.tableDiv img
{
    border: 1px solid white;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity: 1;
}

.infoWindow {
    background: black;
    position: static;
    color: whitesmoke;
    float: left;
    border: 1px solid white;
    width: 15%;
    height: 100%;

}




.headTable th {
    background:black;
    opacity: 1;
    font-size: 14px;
    border: 1px solid white;
    text-align: center;
}

.headTable.th:hover {
    background: rgba(40, 40, 40, 1.00);
    opacity: 0.8;
}

.headLink {

    text-shadow: 10px 15px 20px whitesmoke;
    font: oblique normal 700 30px monospace;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 2%;


}

.headLink:hover {
    text-shadow: 10px 15px 25px yellow;

}

.mainTable td {
    font-size: 11px;

}

table {
    margin-top: 1%;
    width: 100%;
    background: black;
    border-radius: 0.25em;
    border-collapse: collapse;

}


th {

    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    border: 1px solid white;
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
    width: 10%;
}

.disabled td {
    color: rgba(40, 40, 40, 1.00);
}

tbody tr {
    transition: background 0.25s ease;

}

tbody tr:hover {

    background: rgba(40, 40, 40, 1.00);
}

a {
    text-decoration: none;
}
